//
//  WTF-iOS-Static.xcconfig
//  WTF
//
//  Created by Martijn The on 1/17/14.
//
//

#include "WTF/Configurations/WTF.xcconfig"

PRODUCT_NAME = WTF
ARCHS = arm64 armv7 armv7s
ONLY_ACTIVE_ARCH = NO
SDKROOT = iphoneos
SUPPORTED_PLATFORMS = iphoneos iphonesimulator
IPHONEOS_DEPLOYMENT_TARGET = 5.1
GCC_PREPROCESSOR_DEFINITIONS = $(DEBUG_DEFINES) WEBKIT_VERSION_MIN_REQUIRED=WEBKIT_VERSION_LATEST HAVE_HEADER_DETECTION_H $(GCC_PREPROCESSOR_DEFINITIONS) TARGET_OS_IPHONE __MAC_OS_X_VERSION_MIN_REQUIRED=0 UCONFIG_NO_COLLATION=1 ENABLE_YARR_JIT=0;
PRIVATE_HEADERS_FOLDER_PATH = /dev/null;
PUBLIC_HEADERS_FOLDER_PATH = /dev/null;
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO;
